@charset "utf-8";

/* RESET CSS START */

:root {
  --background: #f0f2f5;
  --bg-color: #1877f2;
  --text-color: #1877f2;
  --btn-color: #42b72a;
  --white-color:#fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-btn {
  display: inline-block;
  position: relative;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 45px;
  text-align: center;
  z-index: 1;
  border-radius: 5px;
  text-transform: capitalize;
  overflow: hidden;
  transition: all 1s ease-in-out;
  border: 2px solid;
  outline: none;
}

.primary-btn::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  transition: inherit;
  z-index: -1;
  border-radius: inherit;
  overflow: hidden;
  outline: none;
}

.primary-btn.primary-bg:hover::before {
  width: 100%;
  left: 100%;
}

.primary-btn.primary-bg {
  background: var(--bg-color);
  color: var(--white-color) !important;
}

.primary-btn.primary-bg:hover {
    background: var(--bg-color);
    color: var(--white-color) !important;
}

.green-btn {
    display: inline-block;
    position: relative;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 25px;
    text-align: center;
    z-index: 1;
    border-radius: 5px;
    text-transform: capitalize;
    overflow: hidden;
    transition: all 1s ease-in-out;
    border: 2px solid;
    outline: none;
  }
  
  .green-btn.primary-bg {
    background: var(--btn-color);
    color: var(--white-color) !important;
  }
.account-btn {
    text-align: center;
}
/* LOGIN FORM START */
.login-main {
    height: 100vh;
    background: var(--background);
    padding: 6% 0;
} 
.form-box {
    background: var(--white-color);
    border-radius: 10px;
    padding: 30px;
}
.main-form .form-group {
    margin-bottom: 15px;
}
.main-form input,
.main-form textarea {
    font-size: 15px;
    font-weight: 400;
    color: #6e6e6e;
    padding: 12px 20px;
    background: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 5px;

}

.main-form input::placeholder,
.main-form textarea::placeholder {
    color: #6e6e6e;
}

.main-form input:focus,
.main-form textarea:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #dddfe2;
}
.remember-forgot {
    text-align: center;
    margin: 15px 0;
}
.facebook-title h2{
    font-size: 4rem;
    color: var(--text-color);
    font-weight: 700;
}
.facebook-title p{
    width: 70%;
    color: #000;
    font-size: 1.5rem;
    font-weight: 400;
}
/* LOGIN FORM END */